services:
  web:
    image: nginx:alpine
    container_name: web
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      app:
        condition: service_healthy
    restart: always
    networks:
      - net

  app:
    build: .
    container_name: app
    volumes:
      - ./milvus.db:/app/milvus.db
      - data_train:/app/product_train
      - data_add:/app/add-data
      - ./.env:/app/.env
    environment:
      - PORT=51200
    restart: always
    networks:
      - net

volumes:
  data_train:
  data_add:

networks:
  net:
    driver: bridge