services:
  web:
    image: nginx:alpine
    container_name: web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    depends_on:
      app:
        condition: service_healthy
    restart: always
    networks:
      - net

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - net

  app:
    build: .
    container_name: app
    volumes:
      - ./milvus.db:/app/milvus.db
      - data_train:/app/product_train
      - data_add:/app/add-data
      - ./.env:/app/.env
    environment:
      - PORT=51200
    restart: always
    networks:
      - net

volumes:
  data_train:
  data_add:

networks:
  net:
    driver: bridge