# --- Cấu hình nguồn cài đặt bản CPU-Only cho PyTorch ---
# --extra-index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://download.pytorch.org/whl/cpu

Flask
python-dotenv
requests
gunicorn
torch
torchvision
transformers
timm
ultralytics
opencv-python-headless
pillow
scikit-learn
scipy
matplotlib

pymilvus
milvus-lite
mysql-connector-python

numpy
pandas
polars
tqdm
PyYAML
beautifulsoup4
gdown